<div class="modal fade" id="add-reservation-form-modal" tabindex="-1"
     aria-labelledby="reservationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="create-reservation-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="reservationModalLabel">Nueva Reservación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="appointment-name" class="form-label">Nombre de la Cita</label>
                        <input type="text" class="form-control" id="appointment-name" required>
                    </div>
                    <div class="mb-3">
                        <label for="appointment-date" class="form-label">Fecha y Hora</label>
                        <input type="datetime-local" class="form-control" id="appointment-date" required>
                    </div>
                    <div class="mb-3">
                        <label for="notes" class="form-label">Notas</label>
                        <textarea class="form-control" id="notes" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Crear Reservación</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
